/**************************************** Color Scheme START ***************************//*
Color Theme
Dark Blue - 263545
Blue - 6DBCDB
Grey - D7DADB
White - FFFFFF
Red - C4273C
*//**************************************** Color Scheme End **************************/



/**************************************** Sticky Footer Styles START ***************************/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background-color: #f5f5f5;
}
/**************************************** Sticky Footer Styles END ***************************/




/**************************************** START Sticky Footer Custom Page CSS, 
not required for template or sticky footer method ***************************/
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
@media (min-width: 650px) {
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}}

code {
  font-size: 80%;
}
/**************************************** END Sticky Footer Custom Page CSS, 
not required for template or sticky footer method ***************************/




/**************************************** BB Footer Style Start ***************************/
/* Colors
Dark rgba(36, 66, 115, 1);
Normal rgba(79, 117, 192, 1);
Light rgba(130, 177, 255, 1);
*/
.navbar-fixed-bottom {
	padding: 5px 0px; /* padding for the footer */
}

ul#footerNavByBen {
	vertical-align: middle;
}

ul#BBFooter li {
	padding: 0px 0px;
}
li.footerContactTitle {
}
li p#footerContactTitleP {
	font-weight: bold;
	color: #FFFFFF;
	padding: 10px; /*fix spacing for footer text */
	margin: 0px;
}
li p#footerContactTextP {
	font-weight: normal;
	color: #FFFFFF;
	padding: 10px;
	margin: 0px;
}
li.footerContactLinks {
	display: inline-block;
}
li.footerContactLinks a {
	color: #FFFFFF;
	padding: 10px 15px 10px 15px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
li.footerContactLinks a:hover, li.footerContactLinks a:focus, li.footerContactLinks a:active {
	background-color: rgba(130, 177, 255, .3)
}
#BBHeaderNav {
	background-color: rgba(79, 117, 192, 1);/*#D7DADB*/
}
#BBFooterNav {
	margin: 0px;
	background-color: rgba(79, 117, 192, 1);
}
#BBHeaderNav a {
	color: #C4273C;
}
#BBHeaderNav a.navbar-brand {
	color: #263545;
}
/**************************************** BB Footer Style END ***************************/



/** ****************************************************************************************
START
Taken from Material Kit CSS Demo - Should debug this later 
******************************************************************************************/
.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.title.text-center{
    margin-bottom: 50px;
}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}
.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-10{
    height: 30px;
    display: block;
}
.space-30{
    height: 30px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll;
}

.navigation-example{
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top:0;
    min-height: 740px;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.tim-note{
    text-transform: capitalize;
}

#buttons .btn{
    margin: 0 0px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}


.parallax{
  width:100%;
  height:570px;

  display: block;
  background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.fixed-section{
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


.parallax .parallax-image{
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.parallax .parallax-image img{
    width: 100%;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}
@media (max-width: 991px){
    .fixed-section.affix{
        position: relative;
        margin-bottom: 100px;
    }
}
@media (max-width: 768px){
    .btn, .btn-morphing{
        margin-bottom: 10px;
    }
    .parallax .motto{
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}
#javascriptComponents .btn-raised{
    margin: 10px 5px;
}


/*      layer animation          */

.layers-container{
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i{
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter{
    background-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
}
.sharing-area .btn-twitter:hover{
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}

.sharing-area .btn-facebook{
    background-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}
.sharing-area .btn-facebook:hover{
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}

.sharing-area .btn-google-plus{
    background-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}
.sharing-area .btn-google-plus:hover{
    background-color: #dd4b39;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}

.sharing-area .btn-github{
    background-color: #333333;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}
.sharing-area .btn-github:hover{
    background-color: #333333;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
}

.section-thin,
.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
}
#navbar .navbar{
    border-radius: 0;
}
.section-tabs{
    background: #EEEEEE;
}
.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 25px;
}
.section-examples a{
    text-decoration: none;
}
.section-examples h5{
    margin-top: 30px;
}
.components-page .wrapper > .header,
.tutorial-page .wrapper > .header{
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}
.components-page .title,
.tutorial-page .title{
    color: #FFFFFF;
}


/** ****************************************************************************************
END
Taken from Material Kit CSS Demo - Should debug this later 
******************************************************************************************/


/************************** BB Theme Tweaks **********************************/

/*Remove purple overlay from header image */
.index-page .header-filter:after {
	background: rgba(244, 170, 66, 0.44);
	/*background: rgba(168, 96, 15, 0.64);*/
	/*display: none;/*  here's what the default is
    background: rgba(101, 47, 142, 0.64);
    background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
    background: -moz-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
    background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%); */
}

/* Color Change to Blue 
Dark rgba(36, 66, 115, 1);
Normal rgba(79, 117, 192, 1);
Light rgba(130, 177, 255, 1);
*/
.navbar {
	background: rgba(79, 117, 192, 1);
	padding: 5px 0px;
}
.landing-page .navbar-transparent, .profile-page .navbar-transparent, .signup-page .navbar-transparent, .index-page .navbar-transparent {
	padding-top: 15px;
	padding-bottom: 15px;
}
.btn.btn-primary, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle, .navbar .navbar-nav > li > a.btn.btn-primary {
	background: rgba(79, 117, 192, 1);
}
.btn.btn-primary:hover, 
.btn.btn-primary:focus, 
.btn.btn-primary:active, 
.btn.btn-primary.active, 
.btn.btn-primary:active:focus, 
.btn.btn-primary:active:hover, 
.btn.btn-primary.active:focus, 
.btn.btn-primary.active:hover, 
.open > .btn.btn-primary.dropdown-toggle:focus, 
.open > .btn.btn-primary.dropdown-toggle:hover, 
.navbar .navbar-nav > li > a.btn.btn-primary:hover, 
.navbar .navbar-nav > li > a.btn.btn-primary:focus, 
.navbar .navbar-nav > li > a.btn.btn-primary:active, 
.navbar .navbar-nav > li > a.btn.btn-primary.active, 
.navbar .navbar-nav > li > a.btn.btn-primary:active:focus, 
.navbar .navbar-nav > li > a.btn.btn-primary:active:hover, 
.navbar .navbar-nav > li > a.btn.btn-primary.active:focus, 
.navbar .navbar-nav > li > a.btn.btn-primary.active:hover, 
.open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, 
.open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
	background: rgba(130, 177, 255, 1);
}

.btn.btn-info, .navbar .navbar-nav > li > a.btn.btn-info, .open > .btn.btn-info.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle {
	background: rgba(79, 117, 192, 1);
}

.btn.btn-info:hover, 
.btn.btn-info:focus, 
.btn.btn-info:active, 
.btn.btn-info.active, 
.btn.btn-info:active:focus, 
.btn.btn-info:active:hover, 
.btn.btn-info.active:focus, 
.btn.btn-info.active:hover, 
.open > .btn.btn-info.dropdown-toggle:focus, 
.open > .btn.btn-info.dropdown-toggle:hover, 
.navbar .navbar-nav > li > a.btn.btn-info:hover, 
.navbar .navbar-nav > li > a.btn.btn-info:focus, 
.navbar .navbar-nav > li > a.btn.btn-info:active, 
.navbar .navbar-nav > li > a.btn.btn-info.active, 
.navbar .navbar-nav > li > a.btn.btn-info:active:focus, 
.navbar .navbar-nav > li > a.btn.btn-info:active:hover, 
.navbar .navbar-nav > li > a.btn.btn-info.active:focus, 
.navbar .navbar-nav > li > a.btn.btn-info.active:hover, 
.open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus, 
.open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover {
	background: rgba(130, 177, 255, 1);
}
.btn.btn-info, .navbar .navbar-nav > li > a.btn.btn-info {
	box-shadow: none;
}
.index-page .btn.btn-info, .navbar .navbar-nav > li > a.btn.btn-info.contact-btn { /*Contact button on home page */
	background: rgba(79, 117, 192, 1);
}
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > li > a:hover, 
.navbar .navbar-nav > li > a:focus {
	background-color: rgba(130, 177, 255, .3);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.btn-primary, 
.navbar .navbar-nav > li > a.btn.btn-primary {
    box-shadow: none;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active, 
.navbar .navbar-nav > li > a.btn.btn-primary:hover,
.navbar .navbar-nav > li > a.btn.btn-primary:focus,
.navbar .navbar-nav > li > a.btn.btn-primary:active {
    box-shadow: 0 2px 2px 0 rgba(33, 66, 115, 0.34), 0 3px 1px -2px rgba(33, 66, 115, 0.42), 0 1px 5px 0 rgba(33, 66, 115, 0.3);
}



/*Drop Down Menus */
.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus, .navbar.navbar-default .dropdown-menu li > a:hover, .navbar.navbar-default .dropdown-menu li > a:focus {
	background: rgba(79, 117, 192, 1);
}


/*Correcting the padding for the contact button in the navigation to be the same size as the other links */
.navbar .navbar-nav > li > a.btn {
    padding: 15px 30px;
    margin: 0px;
}

/*Remove black border from headshot in the nav */
.logo-container .logo {
	border: 0px;
}
/*Remove black border from headshot in the nav */
.logo-xs {
	margin-left: 15px;
}


/*Project Section Tweak */
.project-box { background-color: #f6f6f6; }

/*increase size of paragraph font in skill section */
.info {
	padding: 0px;
	}
.info p {
	font-size: 1.2em;
	line-height: 1.4em;
}
.info p.sub {
	font-size: 1.0em;
	line-height: 1.3em;
}
.sub-lead {
	font-size: 1.2em;
	line-height: 1.4em;
	color: #666666;
}
.sub-lead-bullets {
	font-size: 1.2em;
	line-height: 1.4em;
	color: #666666;
}
body {
	background-color: #FFFFFF;
}

/* Force header image to be full size on the homepage */
.index-page .wrapper > .header {
    height: 100vh;
}


/* widen the subtitle for the website */
.index-page .brand h3 {
	max-width: 850px;
	font-weight: normal;
	font-size: 1.7em;
}

./* widen the subtitle for the website */
.index-page .brand h3 {
	max-width: 850px;
	font-weight: normal;
	font-size: 1.7em;
}

/*MOBILE FIRST SIZES */
.index-page .lead-text {
	margin-top: 15vh;
}
.index-page .brand h1 {
		font-size: 3em;
	}
.lead-text h2 {
	font-size: 1.5em;
}
.lead-text h3 {
	font-size: 1.4em;
}
.index-lead-h2, h2.page-header {
	font-size: 1.8em; /*Opening text on index page*/
	line-height: 1.3em;
	margin: 15px 0px 10px 0px;
}
h5.project-subtitle {
	font-size: 1.2em;
}
@media (min-width: 768px) {
	.index-page .lead-text {
		margin-top: 30vh;
	}
	.index-page .lead-text h1 {
		font-size: 5.2em;
	}
	.lead-text h2 {
		font-size: 2.2em;
	}
	.lead-text h3 {
		font-size: 1.7em;
	}
	.index-page .brand h1 {
		font-size: 4.5em; 
	}
	.index-lead-h2, h2.page-header {
		font-size: 2.6em;
		margin: 40px 0px 20px 0px;
	}
	h5.project-subtitle {
		font-size: 1.25 em;
	}

}

/* Navbar transpraency and color on mobile 4f75c0 = 79,117,192 > 3f5d99 is darker*/

@media (max-width: 768px) {
	.navbar.navbar-transparent {
	    background-color: #3f5d99;
	}
	.index-page .navbar.navbar-transparent {
	    background-color: #4f75c0;
	}
	.navbar-collapse {
		text-align: center;
		/*background-color: #3f5d99;*/
	}
	.navbar-collapse > ul > li {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.navbar-collapse > ul > li > a {
		font-size: 16px !important;
		letter-spacing: 1px;
	}
}
@media (min-width: 769px) {
	.navbar.navbar-transparent {
	    background-color: #3f5d99;
	}
	.index-page .navbar.navbar-transparent {
	    background-color: rgba(0,0,0,.2);
	}
}



/* Project Buttons */

.project-img-button {
	width: 80%;
	display: none;
}
.project-li-button {
}
.project-a-button h5 {
	margin-bottom: 5px;
}
.project-a-button:hover {
	background-color: rgba(255,255,255,.9);
	opacity: 1;
}
.nav-pills > li > a.project-a-button {
	background-color: rgba(255,255,255,.1);
	color: #FFFFFF;
	margin: 0px 15px 15px 0px;
}
.nav-pills > li > a.project-a-button:hover {
	background-color: rgba(255,255,255,.3);
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li > a.project-a-button:active {
    background-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}
@media (min-width: 650px) {
	.project-img-button {
		max-width: 100px;
		max-height: 100px;
		display: inline;
	}
	.project-li-button {
		max-width: 140px;
	}
}
.profile-page .header {
	height: auto;
	padding-bottom: 20px;
}	
.profile-page .gallery {
	margin-top: 0px;
}
.profile-page .profile-tabs {
	margin-top: 0px;
}



/*Flex box on project buttons at the top of the page to force equal height */

.nav-pills {
  display: inline-flex !important;
  flex-direction: row;
}
.nav-pills > li {
  display: flex;
  justify-content: center;
}
@media (min-width: 650px) {
	.nav-pills > li > a.project-a-button {
	    margin: 0px 0px 0px 4px;
	    align-items: center;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	}
}

/* lightbox Styling */
.lb-outerContainer {
	background-color: #000000;
}
.lightboxOverlay {
	background-color: #FFFFFF;
}
.lightbox .lb-image {
	border: none;
	border-radius: 10px;
}

/*Contact Us Page*/
a.contact-link {
	color: #FFFFFF;
	font-size: 1.8em;
	text-decoration: none;
}
a.contact-link:hover, a.contact-link:active {
	text-decoration: none;
	color: #dbe3f2;
}

/* Photography Page on mobile, reduce spacing around photos in two column */

.photography-page .gallery img {
	margin-bottom: 10px;
}
.photography-page .col-xs-6, .photography-page .col-xs-5, .photography-page .col-xs-7, .photography-page .col-xs-12, .photography-page .col-xs-4 {
	padding: 0px 5px 0px 5px;
}
/**************************************** BB Footer Mobile Nav Start ***************************/
/* Colors
Dark rgba(36, 66, 115, 1);
Normal rgba(79, 117, 192, 1);
Light rgba(130, 177, 255, 1);
*/
.footer-mobilenav-projects {
	margin: 0px;
	padding: 0px;
}
#BBFooterNav {
	box-shadow: 0 -10px 4px -12px rgba(0, 0, 0, 0.2), 0 -3px 10px 0px rgba(0, 0, 0, 0.12), 0 -8px 10px -8px rgba(0, 0, 0, 0.2);
}
.footer-mobilenav-button {
	vertical-align: middle;
	padding: 5px;
	margin: 0px;
	background: rgba(255,255,255,.1);
	border-radius: 4px;
	border-bottom: transparent;
  	display: flex;
 	align-items: center;     /* Align the flex-items vertically */
  	justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

.footer-mobilenav-a-contact {
	text-decoration: none;
	font-size: .9em;
	line-height: 1.1em;
	margin: 0px 1px 0px 1px;
	padding: 5px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	height: 100%;
	color: #CCCCCC;
  	display: flex;
 	align-items: center;     /* Align the flex-items vertically */
  	justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}
.footer-mobilenav-a-contact:hover, .footer-mobilenav-a-contact:focus, .footer-mobilenav-a-contact:active {
	color: #FFFFFF;
	text-decoration: none;
}
.footer-mobilenav-a {
	text-align: center;
	font-size: .9em;
	line-height: 1.2em;
	margin: 0px 1px 0px 1px;
	padding: 5px;
	border-radius: 0px;
	color: #CCCCCC;
	height: 100%;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
  	display: flex;
 	align-items: center;     /* Align the flex-items vertically */
  	justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}
.footer-mobilenav-a:hover, .footer-mobilenav-a:active, .footer-mobilenav-a:focus, .give-focus{
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid #FFFFFF;
}
.footer-mobilenav {
	vertical-align: middle;
	padding: 0px;
}
/*Flex model to force footer into equal width & height */
.footer-mobilenav-section {
	padding: 0px;
  display: flex;
  flex-direction: row;
}
.footer-mobilenav-section > [class^="col-"],
.footer-mobilenav-section > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}
/*Dropup contact menu */
.contact-dropup {
	background: transparent;
    border: none;
    box-shadow: none;
    min-width: 10px;
  	opacity:.1;
  	-webkit-transform-origin: bottom;
  	transform-origin: bottom;
  	-webkit-animation-fill-mode: forwards;  
  	animation-fill-mode: forwards; 
  	-webkit-transform: scale(1, 0);
  	display: block; 
  	pointer-events: none;
    -webkit-transition: transform 200ms ease, opacity 600ms ease;
    -o-transition:      transform 200ms ease, opacity 600ms ease;
    -moz-transition:    transform 200ms ease, opacity 600ms ease;
    -ms-transition:     transform 200ms ease, opacity 600ms ease;
    transition:         transform 200ms ease, opacity 600ms ease;
}

.open > .contact-dropup { /*animation for dropup menu*/
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); 
}
.contact-dropup > li {
	display: list-item;
	padding: 0px;
}
.contact-dropup > li > a { /*circle buttons in contact dropup */
    margin: 0px 5px 10px 0px;
    border-radius: 200px;
    padding: 12px;
    background-color: rgba(79, 117, 192, 1);
    color: #FFFFFF;
    font-size: 1.4em;
    line-height: 1.4em;
    width: 52px;
    height: 52px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.14), 
    0 2px 7px 2px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

/*
.navbar-fixed-bottom {
	padding: 0px 0px; 
}

ul#footerNavByBen {
	vertical-align: middle;
}

ul#BBFooter li {
	padding: 0px 0px;
}
li.footerContactTitle {
}
li p#footerContactTitleP {
	font-weight: bold;
	color: #FFFFFF;
	padding: 10px;
	margin: 0px;
}
li p#footerContactTextP {
	font-weight: normal;
	color: #FFFFFF;
	padding: 10px;
	margin: 0px;
}
li.footerContactLinks {
	display: inline-block;
}
li.footerContactLinks a {
	color: #FFFFFF;
	padding: 10px 15px 10px 15px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
li.footerContactLinks a:hover, li.footerContactLinks a:focus, li.footerContactLinks a:active {
	background-color: rgba(130, 177, 255, .3)
}
#BBHeaderNav {
	background-color: rgba(79, 117, 192, 1);
}
#BBFooterNav {
	margin: 0px;
	background-color: rgba(79, 117, 192, 1);
}
#BBHeaderNav a {
	color: #C4273C;
}
#BBHeaderNav a.navbar-brand {
	color: #263545;
}*/
/**************************************** BB Footer Mobile Nav END ***************************/